import request from '@/utils/request'

// 查询$!{table.comment}列表
export function list${entity}(query) {
  return request({
    url: '/${moduleName}/${entity}/list',
    method: 'get',
    params: query
  })
}

#foreach($field in ${table.fields})
  #if(${field.keyFlag})
  // 查询$!{table.comment}详细
  export function get${entity}(${field.name}) {
    return request({
      url: '/${moduleName}/${entity}/' + ${field.name},
      method: 'get'
    })
  }
  #end
#end


// 新增$!{table.comment}
export function add${entity}(data) {
  return request({
    url: '/${moduleName}/${entity}',
    method: 'post',
    data: data
  })
}

// 修改$!{table.comment}
export function update${entity}(data) {
  return request({
    url: '/${moduleName}/${subEntityName}',
    method: 'put',
    data: data
  })
}

#foreach($field in ${table.fields})
#if(${field.keyFlag})

// 删除$!{table.comment}
export function del${entity}(${field.name}) {
  return request({
    url: '/${moduleName}/${subEntityName}/' + ${field.name},
    method: 'delete'
  })
}
#end
#end
